.friendbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.friendlist {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.addcontact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
  width: 50%;
  font-size: 17px;
}

.btn a {
  text-decoration: none;
}

.btn a:active {
  font-weight: bold;
}

.btn a:visited {
  color: black;
}

.invite-header, .recentheader {
  display: flex;
  justify-content: center;
}

.invitations, .recentadds {
  display: flex;
  margin: 12px;
  border: 1px solid black;
  padding: 2px;
}

.invitations img, .recentadds img {
  height: 100px;
  width: 100px;
  margin-right: 15px;
}

.recentheader {
  color: #BC66CB; /*purple*/
}

.invitations, .recentadds {
  color: #060E56; /*navy blue*/
}
