.addnote {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.addnoteform {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.addnoteform input, .addnoteform textarea {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 7px;
  padding: 8px;
  outline: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.addnoteform textarea {
  height: 110px;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.notes {
  display: flex;
  margin-bottom: 7px;
  flex-direction: column;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 8px;
}

.notes h3, .notes p {
  color: #060E56; /*navy blue*/
}
.notes h3, .deletenote {
  margin-bottom: 8px;
}

.notebtn {
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  width: 30%;
}

.newnote {
  background-color: #9DCC66; /*light green*/
  margin-bottom: 5px;
}

.newnotecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.savenote {
  background-color: #BC66CB; /*purple*/
  margin: 0 auto;
}

.deletenote {
  background-color: #F35851; /*red*/
  margin: 0 10px;
}

.note-right {
  display: flex;
  justify-content: flex-end;
}
