.addnote {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.addnoteform {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.addnoteform input, .addnoteform textarea {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 7px;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.addnoteform textarea {
  height: 110px;
}

.close {
  display: flex;
  justify-content: flex-end;
}
.notes {
  display: flex;
  justify-content: space-around;
}

.notes h3, .deletenote {
  margin-bottom: 5px;
}

.notebtn {
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.newnote {
  background-color: #9DCC66; /*light green*/
  margin-bottom: 5px;
}

.newnotecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.savenote {
  background-color: #BC66CB; /*purple*/
}

.deletenote {
  background-color: #F35851; /*red*/
}
