.specialists-header {
  margin-bottom: 7px;
}

.search-section, .map-container {
  display: flex;
  justify-content: center;
}

.search-section {
  margin-bottom: 7px;
}

.map {
  height: 95%;
  width: 85%;
}

.specialist-search, .search-btn {
  border: 1px solid black;
  height: 30px;
}

.specialist-search {
  width: 78%;
  padding-left: 5px;
}

.search-btn {
  background-color: lightgrey;
}
