* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color:#4FC4F4;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.slogan h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #060E56;  /*navy blue*/
}

.slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slogan h5 {
  text-transform: uppercase;
  color: #64CCC0; /*aquamarine*/
}

.nav {
  display: flex;
  background-color: #4FC4F4; /*cornflower blue*/
  color: white;
  justify-content: space-around;
  width: 100vw;
  padding: 8px;
}

.nav a, .nav i {
  outline: none;
  color: white;
}

.nav > a {
  margin: 0 auto;
}

.nav a:visited {
  color: white;
}

.nav i {
  font-size: 35px;
}

.nav i:hover {
  color: #F35851; /*red*/
}

h1 {
  text-align: center;
  padding-top: 5px;
}

.reslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.reslist a {
  background-color: #4FC4F4; /*cornflower blue*/
  color: white;
  width: 90%;
  margin: 5px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 27px;
}

.mission {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.connected {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 7px;
    border: 4px solid #FBB54F; /*marigold*/
}

.more_info {
    text-align: center;
    padding: 10px;
}


@media only screen and (mid-width: 768px) {

}
